tests/Payload/EntranceTestSheet/Add.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PackageData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EntranceTestSheet">
					<xs:complexType>
						<xs:all>
							<xs:element type="string-36" name="Uid"/>
							<xs:element type="string-36" name="UidEntranceTest"/>
							<xs:element type="string-255" name="Name"/>
							<xs:element type="xs:date" name="DocDate"/>
							<xs:element name="File">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element type="xs:string" name="Base64" />
                                        <xs:element type="string-20" name="Extension" minOccurs="0"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="string-20">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="string-255">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>