tests/Epgu/EpguApplicationRefuse/EpguApplicationRefuse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EpguApplicationRefuse">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="UidEpgu"/>
                            <xs:element type="xs:dateTime" name="RefusEnrollment"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
