tests/Payload/EntranceTestResultList/Get.Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EntranceTestResultList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EntranceTestResult" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="UidApplicationChoice">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element type="string-36" name="Uid"/>
                                                    <xs:element type="xs:positiveInteger" name="UidEpgu"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="string-36" name="Uid"/>
                                        <xs:element type="string-36" name="UidEntranceTest"/>
                                        <xs:element type="xs:positiveInteger" name="IdEntranceTestDocumentType" minOccurs="0"/>
                                        <xs:element name="UidDocumentChoice" minOccurs="0">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element type="string-36" name="Uid"/>
                                                    <xs:element type="xs:positiveInteger" name="UidEpgu"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:dateTime" name="IssueDate"/>
                                        <xs:element type="xs:positiveInteger" name="IdResultSource"/>
                                        <xs:element type="xs:nonNegativeInteger" name="ResultValue"/>
                                        <xs:element type="xs:positiveInteger" name="IdBenefit" minOccurs="0"/>
                                        <xs:element type="xs:positiveInteger" name="IdAppealStatus" minOccurs="0"/>
                                        <xs:element type="xs:nonNegativeInteger" name="EgeValue" minOccurs="0"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>

