tests/Payload/OriginalEducationDocument/Get.Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <!-- Если оригинал документа ЗАБРАЛИ или НЕ ПОДАВАЛИ в вуз - данного поля не будет -->
                <xs:element name="OriginalEducationDocument" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
							<xs:element name="IdEntrantChoice">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element type="string-36" name="Guid"/>
                                        <xs:element type="string-11" name="Snils"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <!-- Информация о документе передается только если документы были поданы в ВАШ вуз -->
							<xs:element name="UidEducationDocumentChoice" minOccurs="0">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element type="string-36" name="Uid"/>
                                        <xs:element type="xs:positiveInteger" name="UidEpgu"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
							<xs:element type="xs:dateTime" name="OrigDocDate"/>
                            <!-- TRUE - документ подан в ВАШ вуз, FALSE - документ подан в другой вуз и информацию о вузе и документе мы не раскрываем -->
                            <xs:element type="xs:boolean" name="IsDocumentInYourOovo"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

	<xs:simpleType name="string-11">
        <xs:restriction base="xs:string">
            <xs:maxLength value="11"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>