tests/Epgu/EpguTestAgreed/EpguTestAgreed.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EpguTestAgreed">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:positiveInteger" name="UidEpgu"/>
                            <xs:element type="string-36" name="UidEntranceTest"/>
                            <xs:element type="string-36" name="UidTestLocation"/>
                            <xs:element type="xs:boolean" name="Agree"/>
                            <xs:element type="xs:dateTime" name="AgreeDate"/>
                            <xs:element type="xs:positiveInteger" name="IdEntranceTestLanguage" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
