tests/Payload/EntranceTestAgreedList/Get.Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EntranceTestAgreedList" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EntranceTestAgreed" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="UidChoice">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element type="string-36" name="Uid"/>
                                                    <xs:element type="xs:integer" name="UidEpgu"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="UidApplicationChoice">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element type="string-36" name="Uid"/>
                                                    <xs:element type="xs:integer" name="UidEpgu"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="string-36" name="UidEntranceTestLocation"/>
                                        <xs:element type="xs:positiveInteger" name="IdEntranceTestLanguage" minOccurs="0"/>
                                        <xs:element type="string-36" name="UidEntranceTest"/>
                                        <xs:element type="xs:dateTime" name="AgreeDate"/>
                                        <xs:element type="xs:boolean" name="Agree"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>