tests/Payload/CampaignAchievement/Get.Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CampaignAchievement">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="string-36" name="Uid"/>
                            <xs:element type="string-36" name="UidCampaign"/>
                            <xs:element type="xs:positiveInteger" name="IdCategory"/>
                            <xs:element type="xs:positiveInteger" name="IdAchievementType"/>
                            <xs:element type="string-500" name="Name"/>
                            <xs:element name="MaxValue">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                       </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>