tests/Epgu/EpguPersonProfileChange/EpguPersonProfileChange.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EpguPersonProfileChange">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EntrantGuid" type="string-36"/>
                            <xs:element name="ChangeList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Change" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="EntityType" type="string-50"/>
                                                    <xs:element name="EntityList">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Entity"  maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="UidEpgu"
                                                                                        type="xs:positiveInteger"/>
                                                                            <xs:element name="Actual"
                                                                                        type="xs:boolean"/>
                                                                            <xs:element name="FieldList">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="Field"  maxOccurs="unbounded">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element
                                                                                                            name="Name"
                                                                                                            type="string-50"/>
                                                                                                    <xs:element
                                                                                                            name="OldValue"
                                                                                                            type="xs:string"/>
                                                                                                    <xs:element
                                                                                                            name="NewValue"
                                                                                                            type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-50">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>

