tests/Payload/CompetitiveGroup/Get.Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CompetitiveGroup">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="string-36" name="Uid"/>
                            <xs:element type="xs:string" name="UidCampaign"/>
                            <xs:element type="string-500" name="Name"/>
                            <xs:element type="xs:integer" name="IdLevelBudget" minOccurs="0"/>
                            <xs:element type="xs:integer" name="IdEducationLevel"/>
                            <xs:element type="xs:integer" name="IdEducationSource"/>
                            <xs:element type="xs:integer" name="IdEducationForm"/>
                            <xs:element type="string-36" name="UidOrgDirection"/>
                            <xs:element type="xs:integer" name="AdmissionNumber"/>
                            <xs:element type="xs:boolean" name="AllowedWithoutDocuments" />
                            <xs:element type="string-500" name="Comment" minOccurs="0"/>
                            <xs:element type="string-13" name="BranchOgrn" minOccurs="0"/>
                            <xs:element type="string-9" name="BranchKpp" minOccurs="0"/>
                            <xs:element type="xs:integer" name="IdStage" minOccurs="0"/>
                            <xs:element name="EntranceTestList" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Uid" type="string-36"  maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ApplicationList" minOccurs="0" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="UidChoice"  maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element type="string-36" name="Uid"/>
                                                    <xs:element type="xs:positiveInteger" name="UidEpgu"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="string-9">
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-13">
        <xs:restriction base="xs:string">
            <xs:maxLength value="13"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>


