tests/Payload/EntranceTestLocation/Get.Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PackageData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EntranceTestLocation">
					<xs:complexType>
						<xs:all>
							<xs:element type="string-36" name="Uid"/>
							<xs:element type="string-36" name="UidEntranceTest"/>
							<xs:element type="xs:dateTime" name="TestDateStart"/>
							<xs:element type="xs:dateTime" name="TestDateEnd" minOccurs="0"/>
							<xs:element type="xs:dateTime" name="CompletingEntryDate"/>
							<xs:element type="xs:boolean" name="VisibleEpgu"/>
							<xs:element type="string-2084" name="Url" minOccurs="0"/>
							<xs:element type="string-500" name="Comment" minOccurs="0"/>
							<xs:element type="string-500" name="TestLocation"/>
							<xs:element type="xs:positiveInteger" name="EntrantsCount"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="string-2084">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2084"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>