tests/Payload/Campaign/Get.Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Campaign">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="string-36" name="Uid"/>
                            <xs:element type="string-500" name="Name"/>
                            <xs:element type="xs:positiveInteger" name="YearStart"/>
                            <xs:element type="xs:positiveInteger" name="YearEnd"/>
                            <xs:element type="xs:positiveInteger" name="IdCampaignType"/>
                            <xs:element type="xs:positiveInteger" name="IdCampaignStatus"/>
                            <xs:element type="xs:positiveInteger" name="NumberAgree"/>
                            <xs:element type="xs:positiveInteger" name="CountDirections"/>
                            <xs:element type="xs:positiveInteger" name="MaxCountAchievements"/>
                            <xs:element type="xs:dateTime" name="EndDate"/>
                            <xs:element name="EducationFormList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:positiveInteger" name="IdEducationForm" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="EducationLevelList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:positiveInteger" name="IdEducationLevel" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="CompetitiveGroupList" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Uid" type="string-36"  maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="CampaignAchievementList" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Uid" type="string-36"  maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="AdmissionVolumeList"  minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Uid" type="string-36" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="EndApplicationList"  minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Uid" type="string-36"  maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="TermsAdmissionList"  minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Uid" type="string-36"  maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>