tests/Payload/EntranceTest/Get.Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EntranceTest">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="string-36" name="Uid"/>
                            <xs:element type="string-36" name="UidCompetitiveGroup"/>
                            <xs:element type="xs:positiveInteger" name="IdEntranceTestType"/>
                            <xs:element type="string-500" name="TestName" minOccurs="0" />
                            <xs:element type="xs:boolean" name="IsEge"/>
                            <xs:element type="xs:positiveInteger" name="MinScore" minOccurs="0"/>
                            <xs:element type="xs:positiveInteger" name="MaxScore" minOccurs="0"/>
                            <xs:element name="LanguageList" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Language" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element type="xs:positiveInteger" name="IdLanguage"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Priority">
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:minInclusive value="1"/>
										<xs:maxInclusive value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:positiveInteger" name="IdSubject" minOccurs="0"/>
                            <xs:element type="string-36" name="UidReplaceEntranceTest" minOccurs="0"/>
                            <xs:element type="xs:boolean" name="IsSpo"/>
							<xs:element type="xs:boolean" name="IsForeigner"/>
                            <xs:element name="EntranceTestBenefitList" minOccurs="0" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Uid" type="string-36"  maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="EntranceTestLocationList" minOccurs="0" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Uid" type="string-36"  maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="EntranceTestSheetList" minOccurs="0" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Uid" type="string-36"  maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>