tests/Epgu/EpguApplicationAgree/EpguApplicationAgree.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EpguApplicationAgree">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:positiveInteger" name="UidEpgu"/>
                            <xs:element type="xs:boolean" name="Agree"/>
                            <xs:element type="xs:dateTime" name="AgreeDate" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
