tests/Payload/ServiceApplication/Get.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ServiceApplication">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="UidApplicationChoice" >
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element type="string-36" name="Uid"/>
                                        <xs:element type="xs:positiveInteger" name="UidEpgu"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>