tests/Payload/ServiceEntrant/Add.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ServiceEntrant">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="IdEntrantChoice">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element type="string-11" name="Snils"/>
                                        <xs:element name="Passport" >
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element type="string-255" name="Name"/>
                                                    <xs:element type="string-255" name="Surname"/>
                                                    <xs:element type="string-255" name="Patronymic" minOccurs="0"/>
                                                    <xs:element type="string-255" name="Series" minOccurs="0"/>
                                                    <xs:element type="string-255" name="Number"/>
                                                    <xs:element type="xs:date" name="Birthday"/>
                                                    <xs:element type="xs:date" name="IssueDate"/>
                                                    <xs:element type="xs:positiveInteger" name="IdOkcm"/>
                                                    <xs:element type="string-500" name="DocOrganization"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="string-255" name="Surname"/>
                            <xs:element type="string-255" name="Name"/>
                            <xs:element type="string-255" name="Patronymic" minOccurs="0"/>
                            <xs:element type="xs:positiveInteger" name="IdGender"/>
                            <xs:element type="xs:date" name="Birthday"/>
                            <xs:element type="string-500" name="Birthplace"/>
                            <xs:element type="string-120" name="Phone" minOccurs="0"/>
                            <xs:element type="string-150" name="Email" minOccurs="0"/>
                            <xs:element name="AddressList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Address" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element type="string-1024" name="FullAddr"/>
                                                    <xs:element type="string-6" name="IndexAddr"/>
                                                    <xs:element type="xs:boolean" name="IsRegistration"/>
                                                    <xs:element type="xs:positiveInteger" name="IdRegion"/>
                                                    <xs:element type="string-50" name="Area" minOccurs="0"/>
                                                    <xs:element type="string-50" name="City" minOccurs="0"/>
                                                    <xs:element type="string-50" name="Place" minOccurs="0"/>
                                                    <xs:element type="string-50" name="CityArea" minOccurs="0"/>
                                                    <xs:element type="string-50" name="Street"/>
                                                    <xs:element type="string-50" name="AdditionalStreet" minOccurs="0"/>
                                                    <xs:element type="string-50" name="House"/>
                                                    <xs:element type="string-50" name="Building1" minOccurs="0"/>
                                                    <xs:element type="string-50" name="Building2" minOccurs="0"/>
                                                    <xs:element type="string-50" name="Apartment" minOccurs="0"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="string-6">
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-11">
        <xs:restriction base="xs:string">
            <xs:maxLength value="11"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-50">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-120">
        <xs:restriction base="xs:string">
            <xs:maxLength value="120"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-150">
        <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-255">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-1024">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1024"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>