tests/Payload/ServiceEntrant/Add.SucsessPassportResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ServiceEntrant">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="string-36" name="Guid"/>
                            <xs:element name="Passport">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element type="string-255" name="Name"/>
                                        <xs:element type="string-255" name="Surname"/>
                                        <xs:element type="string-255" name="Patronymic" minOccurs="0"/>
                                        <xs:element type="string-255" name="Series" minOccurs="0"/>
                                        <xs:element type="string-255" name="Number"/>
                                        <xs:element type="string-36" name="Uid"/>
                                        <xs:element type="xs:date" name="IssueDate"/>
                                        <xs:element type="xs:positiveInteger" name="IdOkcm"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="IsCreated" type="xs:boolean" />
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-255">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>