tests/Payload/Identification/Add.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PackageData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identification">
					<xs:complexType>
						<xs:all>
							<xs:element name="IdEntrantChoice">
								<xs:complexType>
									<xs:choice>
										<xs:element type="string-36" name="Guid"/>
										<xs:element type="string-11" name="Snils"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:positiveInteger" name="IdDocumentType"/>
							<xs:element type="string-255" name="Surname"/>
							<xs:element type="string-255" name="Name"/>
							<xs:element type="string-255" name="Patronymic" minOccurs="0"/>
							<xs:element type="string-255" name="DocSeries" minOccurs="0"/>
							<xs:element type="string-255" name="DocNumber"/>
							<xs:element type="string-500" name="DocOrganization"/>
							<xs:element type="xs:date" name="IssueDate"/>
							<xs:element type="xs:positiveInteger" name="IdOkcm"/>
							<xs:element name="File" minOccurs="0">
								<xs:complexType>
									<xs:all>
										<xs:element type="xs:string" name="Base64" />
										<xs:element type="string-20" name="Extension" minOccurs="0"/>
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element type="string-7" name="SubdivisionCode" minOccurs="0"/>
							<xs:element name="UidChoice">
								<xs:complexType>
									<xs:choice>
										<xs:element type="string-36" name="Uid"/>
										<xs:element type="xs:integer" name="UidEpgu"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="string-7">
        <xs:restriction base="xs:string">
            <xs:maxLength value="7"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="string-11">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-20">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="string-32">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-36">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="string-255">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="string-500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
