tests/Epgu/EpguApplicationCancel/EpguApplicationCancel.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EpguApplicationCancel">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:positiveInteger" name="UidEpgu"/>
                            <xs:element type="xs:positiveInteger" name="IdStatus"/>
                            <xs:element type="string-500" name="Status"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="string-500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>